:root{
    --mainTextColour:#fff;
    --secondaryTextColour:#bdbfc0;
    --mainLinkColour: rgb(30, 190, 214);
    --mainBorderColour: #2b3031;
    --mainBgColour:#131415;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    box-sizing: border-box;
    color: var(--mainTextColour);
}

body {
    background: radial-gradient(circle at 109% 50%, rgb(219, 152, 88) 0%, rgb(212, 136, 65) 15%,
    rgb(176, 97, 23) 15%, rgb(142, 76, 14) 25%, rgb(22, 35, 43) 25%, transparent),
    radial-gradient(circle at -4.5% 0%, rgb(255, 124, 0) 0%, rgb(255, 124, 0) 7.5%,
    rgb(255, 163, 77) 7.5%, rgb(255, 163, 77) 12.5%, rgb(19, 30, 37) 12.5%, rgb(55, 67, 71) 66%);
    background-color: rgb(28, 51, 59)
  }


@media only screen and (max-width: 600px) {
  body {
    background: rgb(28, 51, 59);
  }
}
  
p, span, li{
    color: var(--secondaryTextColour);
    font-size: 1em;
    text-align: justify;
}

a{
    text-decoration: none;
    color: var(--mainLinkColour);
    font-size: 500;
}

li{
    line-height: 1.9em;
}

h1{
    height: 100%; /* Important to cover the full viewport height */
    margin: 0;    /* Remove default margin */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    text-align: center;      /* Ensure text aligns center */
}

.iframe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Take up all available width */
    overflow: hidden; /* Prevents any overflow from breaking the layout */
}

.iframe-wrapper {
    width: 100%; /* Responsive width */
    position: relative;
    padding-top: 56.25%; /* Aspect ratio for 16:9 videos */
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    .iframe-container {
        padding: 0 10px; /* Adds some padding on smaller screens */
    }

    .iframe-wrapper {
        padding-top: 75%; /* A taller aspect ratio can be better for mobile if needed */
    }
}


#container--main{
    max-width: 700px;
    margin: 0 auto;
}

.section--page {
    display: flex;
    justify-content: center;  /* Centers children horizontally */
    align-items: center;      /* Centers children vertically */
    height: 100%;             /* Ensures the container has enough height */
}

#wrapper--hero{
    display: flex;
    align-items: center;
    gap: 4em;
    margin-bottom: 2em;
}

#wrapper--techstack__items{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 0.9em;
}

@media(max-width:600px) {
    #wrapper--hero{
        flex-direction: column;
        gap: 1em;
    }

    #profile-pic{
        width: 200px;
        height: 200px;
    }

    .section--page{
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .card--work-history{
        border-left: none;
        padding-left: 0;
    }
}

.social--menu ul {
    height: 100%; /* Important to cover the full viewport height */
    margin: 0;    /* Remove default margin */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
}
.social--menu ul li {
    list-style: none;
    margin: 0 10px;
}
.social--menu ul li .fa {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .3s;
}

.social--menu ul li .fa:hover {
    color: #ffffff;
}

.social--menu ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}

.social--menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}

.social--menu ul li:nth-child(1) a:hover {
    background-color: #9b59b6;
}
.social--menu ul li:nth-child(2) a:hover {
    background-color: rgb(219, 152, 88);
}
.social--menu ul li:nth-child(3) a:hover {
    background: #007bb5;
}

.social--menu ul li:nth-child(4) a:hover {
    background-color: #f40f02;
}